@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300);

body {
	background: #b2b2b2 url(../images/body-bg.jpg) repeat top left;
}

.page-header {
	border: none;
}
.page-header h1 {
	color: #444;
	font-family: "Titillium Web";
	font-weight: 600;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	text-align: center;
}

.btn {
	font-family: "Titillium Web";
	font-weight: 600;

	border-radius: 3px;
}
.btn-inverse {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, .5);
}

.well {
	padding: 0;

	border: 1px solid #aaa;
	border-bottom: none;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #cacaca));
	background: -moz-linear-gradient(center top, #fafafa 0%, #cacaca 100%);

	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(255, 255, 255, .5);

	border-radius: 3px;
}

.well .btn-block {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.well .btn-large {
	padding-top: 20px;
	padding-bottom: 20px;
}
.well h3 {
	margin: 0 0 10px 0;

	font-family: "Titillium Web";
	color: #555;
}
.well p {
	color: #555;
}
.well .inner {
	margin: 10px;
}

form {
	margin-top: 20px;
}
.control-label {
	font-family: "Titillium Web";
	font-weight: 600;
}

#header {
	height: 85px;
	width: 800px;
	margin: 0 auto;
	background: transparent url(../images/logo.png) no-repeat top left;
}

#container {
	width: 800px;
	margin: 1em auto;
	background: #eee;
	color: #333;
	border: 1px solid #555;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, .3);
	-moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, .3);
}

.head {
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 1em;
	background: #ddd url(../images/head-bg.png) repeat-x top left;
	border-bottom: 1px solid #bcbcbc;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
}
.head h1 {
	font-size: 180%;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	color: #444;
}

.content {
	padding: 1em 2em;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, .8);
}
.content a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px solid;
}
.content a:hover { color: #466b8c; }

.lower {
	height: 45px;
	margin: 0 2em;
}
.control {
	float: right;
	height: 45px;
	line-height: 42px;
	width: 230px;
	background: rgba(180, 180, 180, .5);
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 2px rgba(0, 0, 0, .25);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 2px rgba(0, 0, 0, .25);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 2px rgba(0, 0, 0, .25);
}

/*
|---------------------------------------------------------------
| TEXT and FONTS
|---------------------------------------------------------------
*/

h1, h2 { margin: 0 0 10px 0; }
p { margin: 10px 0; }

.fontMedium { font-size: 110%; }
.fontSmall { font-size: 85%; }

.green { color: #008000; }
.red { color: #c00; }
.orange { color: #f7941d; }
.gray { color: #777; }

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/

.hidden { display: none !important; }

#loading { text-align: center; }

#loaded { position: relative; }

#progress-container {
	position: relative;
	float: left;
	width: 390px;
	height: 20px;
	line-height: 20px;
	margin: -1px -1px 0 9px;
	padding: 0 5px;
	background: #ddd;
	border: 1px solid #bbb;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#progress {
	width: 390px;
	padding: 4px 0;
	float: left;
	border: 0 !important;
}

#percent {
	float: left;
	width: 65px;
	display: block;
	font-size: 90%;
	color: #666;
	text-align: center;
}

#amount {
	width: 475px;
	height: 20px;
	line-height: 20px;
	margin: 6px 0;
	color: #fff;
	color: rgba(0, 0, 0, .65);
	font-weight: bold;
	font-size: 120%;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .25);
	background: #f4f4f4;
	border: 1px solid #bbb;
	text-indent: 1em;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.UITheme .ui-progressbar {
	height: 12px !important;
	background: transparent;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
.UITheme .ui-progressbar-value {
	height: 10px !important;
	margin: 0 !important;
	border-color: #f5a12a;
	background: #f8e400;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f8e400), color-stop(1, #f5a12a));
	background: -moz-linear-gradient(center top, #f8e400 20%, #f5a12a 100%);
	border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: inset 0px 1px 1px #fde255;
	-moz-box-shadow: inset 0px 1px 1px #fde255;
	-webkit-box-shadow: inset 0px 1px 1px #fde255;
}

hr {
	height: 0;
	width: 100%;
	margin: 1.5em auto;
	border-top: 1px solid #bcbcbc;
	border-top: 1px solid rgba(0, 0, 0, .15);
	border-bottom: 1px solid #fff;
	border-left: 0;
	border-right: 0;
}


/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	margin: 0 0 1em 0;
	padding: .3em 0;
	line-height: 1.3;
	font-weight: bold;
	font-size: .9em;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.flash_message p {
	margin: 0;
	padding: 3px 5px;
}
.flash-success {
	border: 1px solid #a4c897;
	border-top: 1px solid rgba(255, 255, 255, .7);
	background: #ccecc5 url(../images/install-btn-bg.png) repeat-x top left;
	color: #376b0e;
	box-shadow: 0px -1px 0px #a4c897;
	-moz-box-shadow: 0px -1px 0px #a4c897;
	-webkit-box-shadow: 0px -1px 0px #a4c897;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	border-top: 1px solid rgba(255, 255, 255, .6);
	background: #ef2d2d url(../images/install-btn-bg.png) repeat-x top left;
	color: #fff;
	box-shadow: 0px -1px 0px #cd0a0a;
	-moz-box-shadow: 0px -1px 0px #cd0a0a;
	-webkit-box-shadow: 0px -1px 0px #cd0a0a;
}
.flash-info {
	border: 1px solid #f9dd34;
	border-top: 1px solid rgba(255, 255, 255, .6);
	background: #ffef8f url(../images/install-btn-bg.png) repeat-x top left;
	color: #363636;
	box-shadow: 0px -1px 0px #f9dd34;
	-moz-box-shadow: 0px -1px 0px #f9dd34;
	-webkit-box-shadow: 0px -1px 0px #f9dd34;
}

.label {
	text-transform: uppercase;
	font-size: 10px;
}

.progress {
	height: 30px;

	border: 1px solid #aaa;
	border-top: 1px solid #999;

	border-radius: 3px;

	box-shadow: 0 1px 0 rgba(255, 255, 255, .3), inset 0 1px 3px rgba(0, 0, 0, .4);
}
.progress .bar {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4);
}
.progress-amount {
	padding-top: 4px;
	
	font-family: "Titillium Web";
	font-weight: 600;
	font-size: 32px;
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}